@model universityERP.Models.studentCours

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>studentCours</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.isPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cours.courseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cours.courseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.firstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
