@model universityERP.Models.Doctor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.doctorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doctorSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctorSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Major.majorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Major.majorName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.doctorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
