@model IEnumerable<universityERP.Models.Doctor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.doctorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.doctorSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Major.majorName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.doctorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doctorSalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Major.majorName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.doctorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.doctorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.doctorId })
        </td>
    </tr>
}

</table>
