@model universityERP.Models.Major

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Major</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.majorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.majorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.majorDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.majorDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.majorImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.majorImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numberOfHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberOfHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.majorHourPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.majorHourPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facility.facilityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facility.facilityName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
