@model universityERP.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";

    Layout = "~/Views/Shared/_LayoutSign.cshtml";
}
@{
    universityERP.Models.universityERPEntities db = new universityERP.Models.universityERPEntities();
    int majorId = int.Parse(Request.QueryString["majorId"]);
    string major = db.Majors.Where(x => x.majorId == majorId).FirstOrDefault().majorName;

}


<main class="main-content mt-0">
    <section>
        <div class="page-header min-vh-75">
            <div class="container">
                <div class="row d-flex ">
                    <div class="col-xl-4 col-lg-5 col-md-6 d-flex  flex-column mx-auto">
                        <div class="card card-plain mt-8">

                            <div class="card-header pb-0 text-left bg-transparent">
                                <h3 class="font-weight-bolder text-info text-gradient">
                                    Enroll Now
                                </h3>
                                <p class="mb-0">You're about to enroll in @major </p>
                            </div>
                            <div class="card-body">
                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary("", new { @class = "text-danger" })

                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })

                                    <div class="mb-3">

                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })

                                    <div class="mb-3">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                    <div class="mb-3">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })

                                    </div>

                                    <label for="firstName" class="col-md-2 control-label">First Name</label>
                                    <div class="mb-3">


                                        <input type="text" name="firstName" id="firstName" value="" class="form-control" required />

                                    </div>
                                    <label for="lastName" class="col-md-2 control-label">Last Name</label>
                                    <div class="mb-3">
                                        <input type="text" name="lastName" id="lastName" value="" class="form-control" required />
                                    </div>


                                    <label for="image" class="col-md-2 control-label">Image</label>
                                    <div class="mb-3">
                                        <input type="file" name="image" id="image" value="" class="form-control" accept="image/*"
                                               required />
                                    </div>
                                    <label for="tawjihiAvg" class="col-md-2 control-label">Tawjihi GPA</label>
                                    <div class="mb-3">
                                        <input type="number" min="65" max="100" name="tawjihiAvg" id="tawjihiAvg" value="" class="form-control" required />
                                    </div>





                                    <div class="text-center">



                                        <input type="submit" class="btn btn-default" value="Register" data-toggle="modal" data-target="#staticBackdrop" />
                                    </div>
                                }


                            </div>


                        </div>
                    </div>
                    <div class="modal fade" id="staticBackdrop" data-toggle="modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="z-index:10">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="text-right">
                                        <i class="fa fa-close close" data-dismiss="modal"></i>
                                    </div>
                                    <div class="tabs mt-3">
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade show active" id="visa" role="tabpanel" aria-labelledby="visa-tab">
                                                <div class="mt-4 mx-4">
                                                    <div class="text-center">
                                                        <h5>Your application is under review. You won't be able to log in until it has been done being reviewed</h5>
                                                    </div>
                                                    <button type="button" class="btn btn-danger" onclick="closeModal()">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                       

                        function closeModal() {
                            var modal = document.getElementById('staticBackdrop');
                            var modalInstance = bootstrap.Modal.getInstance(modal);
                            modalInstance.hide();
                        }
                    </script>
                    <div class="col-md-6">
                        <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                            <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6"
                                 style=" background-image: url('../../images/login.jpeg'); "></div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </section>
</main>
<script>
    function showAlert() {
        swal("Hello world!");
    }
</script>










