@model IEnumerable<universityERP.Models.Cours>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.courseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.courseHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Major.majorName)
        </th>
        <th>@Html.DisplayNameFor(model => model.Doctor.doctorName) </th>
        <th></th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.courseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.courseHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Major.majorName)
        </td>
        <td>@Html.DisplayFor(modelItem=> item.Doctor.doctorName)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.courseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.courseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.courseId })
        </td>
    </tr>
}

</table>
